$font-stack: Arial, Helvetica, sans-serif;
$font-size: 1.3em;
$top: top;
$inline-block: inline-block;
$block: block;
$center: center;
$bold: bold;
$a-tags: 'a, a:active, a:hover, a:visited';

#{$a-tags} {
  color: black;
}

body {
  font: 100% $font-stack;
  font-size: $font-size;
}

.item {
  vertical-align: $top;
  display: $inline-block;
  text-align: $center;
}

.caption {
  display: $block;
}

.bold {
  font-weight: $bold;
}