a, a:active, a:hover, a:visited {
  color: black; }

body {
  font: 100% Arial, Helvetica, sans-serif;
  font-size: 1.3em; }

.item {
  vertical-align: top;
  display: inline-block;
  text-align: center; }

.caption {
  display: block; }

.bold {
  font-weight: bold; }
